.wrap {
    width: 1365px;
    height: 100vh;
    display: flex;
}

.bar {
    width: 6%;
    background-image: linear-gradient(#FC755A, #FD5272);
    background: url(../img/nav/w.jpeg);

}

.content {
    width: 94%;

}

.section {

}

.wrapper {

}