.wrap {
    width: 1365px;
    height: 100vh;
    display: flex;
    margin: 0 auto;
}

.bar {
    width: 70px;
    background: linear-gradient(to bottom, #FC755A, #FD5272);
    @include 
}

.content {
    width: 94%;

}

.section {

}

.wrapper {

}