@mixin primary-text {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
}

@mixin bold-header {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #777777;
}

@mixin light-style {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: #BFBFBF;
}

@mixin number {
    font-size: 20px;
    color: #FC705E;
    font-weight: bold;
}

@mixin avatar {
    width: 42px;
    height: 42px;
}

@mixin borders {
    border: 1px solid #F1F1F1;
}