*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
fieldset,
body,
button,
ul,
figure,
ol {
  margin: 0;
}

fieldset,
button,
legend,
ul,
ol {
  padding: 0;
}

fieldset {
  border: none;
}

button {
  border: none;
  width: auto;
  overflow: visible;
  background-color: transparent;
  line-height: inherit;
  text-align: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

ul,
ol {
  list-style: none;
}

input,
textarea {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
}

input[type='number'] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

select {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
}

.wrap {
  width: 1366px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: "Lato", sans-serif;
}

.bar {
  width: 70px;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
}

.header--content {
  width: 100%;
  height: 175px;
  background-color: #FFFFFF;
  margin: 0 auto;
}

.content {
  width: 1296px;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1296px;
}

.wrapper {
  width: 270px;
  height: 100%;
}

.aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  width: 270px;
}

.communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 270px;
  height: 47px;
}

.communication__friends {
  background-color: #C34356;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.communication__chat {
  background-color: #FB6664;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.communication__like {
  background-color: #FC7858;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.others {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.others__users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 82px;
}

.others__users-avatar {
  width: 42px;
  height: 42px;
  margin: 20px 18px;
}

.others__users-data {
  margin-top: 25px;
  width: 110px;
}

.others__users-data-name {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #777777;
}

.others__users-data-status {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #BFBFBF;
}

.others__users-message {
  width: 20px;
  height: 16px;
  margin-top: 30px;
  margin-left: 47px;
}

.others__users-line {
  width: 233px;
  height: 2px;
  background-color: #F1F1F1;
  border: none;
  margin: 0 auto;
}

.search-others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 47px;
  background-color: #FCFCFC;
  border: 1px solid #F1F1F1;
}

.search-others__input {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #BFBFBF;
  opacity: 0.5;
  min-width: 164px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #F1F1F1;
}

.search-others__search {
  opacity: 0.5;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 27px 28px;
}

.footer__title {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #777777;
  margin-bottom: 30px;
}

.footer__companies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__company {
  width: 55px;
  height: 55px;
  border-radius: 15px;
  margin: 8px;
  background: red;
}

.header--nav {
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.button-nav {
  width: 1026px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav__btn {
  width: 62px;
  height: 70px;
  border: 1px solid #F1F1F1;
}

.header-nav__btn--more {
  background: url(../../source/img/header/more.png) no-repeat center;
}

.header-nav__btn--folder {
  background: url(../../source/img/header/folder.png) no-repeat center;
}

.header-nav__btn--properties {
  background: url(../../source/img/header/settings.png) no-repeat center;
}

.header-nav__btn--upload {
  background: url(../../source/img/header/upload.png) no-repeat center;
}

.header-nav__btn--envelope {
  background: url(../../source/img/header/envelope.png) no-repeat center;
}

.header-nav__btn--planet {
  background: url(../../source/img/header/globe.png) no-repeat center;
}

.header-nav__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  flex-grow: 1;
  min-height: 70px;
}

.header-nav__search {
  min-width: 290px;
  margin: 0 auto;
  font-size: 12px;
  color: #c8c8c8;
  background: url(../img/header/search.png) no-repeat 90% center #F0F0F0;
  border: 1px solid #F1F1F1;
  border-radius: 16px;
  opacity: 0.5;
  padding: 9px 12px;
}

.user-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
}

.user-account__main {
  margin-left: 20px;
  padding-top: 20px;
}

.user-account__user-name {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #FC715D;
}

.user-account__user-comment {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #BFBFBF;
}

.header-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header-progress__list {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  list-style: none;
}

.header-progress__item-daily {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #777777;
  margin: 5px;
}

.header-progress__item-daily-number {
  font-size: 20px;
  color: #FC705E;
  font-weight: bold;
  margin-left: 3px;
}

.header-progress__triangles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-progress__triangles-purple {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-left: 3px;
  width: 0px;
  height: 0px;
  border-left: 2.5px solid transparent;
  border-right: 2.5px solid transparent;
  border-bottom: 5px solid #A889E9;
}

.header-progress__triangles-red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  width: 0;
  height: 0;
  border-left: 2.5px solid transparent;
  border-right: 2.5px solid transparent;
  border-top: 5px solid #FD5670;
  margin-left: 35px;
}

.header-progress__digit-purple {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #BFBFBF;
  margin-left: 5px;
}

.header-progress__digit-red {
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #BFBFBF;
  margin-left: 5px;
}

.header-progress__item-daily {
  color: #FD5670;
}

.graphs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1096px;
  min-width: 320px;
  height: 832px;
  background-color: #EBEBEB;
  padding: 10px;
}

.graphs__item {
  margin: 10px;
}

.graphs__item_graphic {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  height: 265px;
  background-color: #FFFFFF;
}

.graphs__item_hour {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 265px;
  background-color: #FFFFFF;
}

.graphs__item_customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  min-width: 465px;
  height: 507px;
  background-color: #FFFFFF;
  padding: 30px;
}

.graphs__item_customers_header {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #777777;
  margin-bottom: 40px;
}

.graphs__item_customers_avatar {
  width: 42px;
  height: 42px;
  margin-bottom: 12px;
}

.graphs__item_customers_time {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #BFBFBF;
}

.graphs__item_customers_user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.graphs__item_customers_user_sophie {
  margin-bottom: 243px;
}

.graphs__item_customers_comment-main-first {
  border: 1px solid #F1F1F1;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #BFBFBF;
  width: 314px;
  height: 82px;
  margin: 40px 0 30px 0;
  padding: 20px;
}

.graphs__item_customers_comment-main-first::before {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #777777;
  font-size: 10px;
  content: "Sophie Turner ";
}

.graphs__item_customers_subcomments {
  margin-left: 15px;
}

.graphs__item_customers_subcomments_first {
  border: 1px solid #F1F1F1;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #BFBFBF;
  width: 284px;
  height: 80px;
  padding: 20px;
  margin-bottom: 20px;
}

.graphs__item_customers_subcomments_first::before {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #777777;
  font-size: 10px;
  content: "Sophie Turner ";
}

.graphs__item_customers_comment-main-last {
  border: 1px solid #F1F1F1;
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #BFBFBF;
  width: 314px;
  height: 80px;
  margin-top: 10px;
  padding: 20px;
}

.graphs__item_customers_comment-main-last::before {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #777777;
  font-size: 10px;
  content: "Peter Quill ";
}

.graphs__item_daily-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  min-width: 300px;
  height: 507px;
}

.graphs__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(50% - 10px);
  background-color: #FFFFFF;
  padding: 30px;
}

.graphs__item-inner_header {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #777777;
  margin-bottom: 10px;
}

.graphs__item-inner_graph {
  width: 150px;
  height: 101px;
}

.graphs__item-inner_number {
  font-size: 20px;
  font-weight: bold;
  background: -webkit-linear-gradient(90deg, #708ae6 35%, #8841af 88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
}

.graphs__item-inner_number-shipments {
  font-size: 20px;
  font-weight: bold;
  background: -webkit-linear-gradient(90deg, #fd4f74 35%, #fc7758 88%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
}

.graphs__item-inner_big {
  width: 100%;
  height: 240px;
  background-color: #FFFFFF;
  margin-bottom: 10px;
}

.graphs__item-inner:last-child {
  margin-left: 20px;
}

.graphs__graphic-revenue {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #777777;
  margin: 25px;
}

.graphs__graphic-revenue-stat {
  margin: 10px;
}

.graphs__hour-revenue {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #777777;
  text-align: center;
  padding-top: 25px;
}

.graphs__hour-revenue-circle {
  margin: 5px 20px 20px 33px;
}

.nav {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-shadow: 10px 4px 12px -6px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 4px 12px -6px rgba(0, 0, 0, 0.4);
  position: fixed;
  background: -webkit-gradient(linear, left top, left bottom, from(#FC755A), to(#FD5272));
  background: linear-gradient(to bottom, #FC755A, #FD5272);
}

.nav__icon {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 15px;
  width: 70px;
  height: 70px;
  background: no-repeat center 15px;
}

.nav__icon:hover {
  background-color: green;
}

.nav__icon_logo {
  background: url(../../source/img/nav/w.png) no-repeat;
  margin-bottom: 15px;
}

.nav__icon_home {
  background-image: url(../../source/img/nav/home.png);
}

.nav__icon_statistics {
  background-image: url(../../source/img/nav/statistics.png);
}

.nav__icon_users {
  background-image: url(../../source/img/nav/user.png);
}

.nav__icon_settings {
  background-image: url(../../source/img/nav/settings.png);
}

.nav__icon_quires {
  background-image: url(../../source/img/nav/quires.png);
}

.nav__icon_power {
  background-image: url(../../source/img/nav/power.png);
  background-position: center;
  margin-top: auto;
}
/*# sourceMappingURL=main.css.map */