.aside{
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 270px;
}

.communication{
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 270px;
    height: 47px;

    &__friends{
        background-color: #C34356;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__chat{
        background-color: #FB6664;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__like{
        background-color: #FC7858;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.others{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;

    &__users{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        height: 82px;
    }

    &__users-avatar{
        width: 42px;
        height: 42px;
        margin: 20px 18px;
    }

   &__users-data{
        margin-top: 25px ;
        width: 110px;
   }

    &__users-data-name{
        @include bold-header;
    }

    &__users-data-status{
        @include light-style;
    }

    &__users-message{
        width: 20px;
        height: 16px;
        margin-top: 30px;
        margin-left: 47px;
    }

    &__users-line{
        width: 233px;
        height: 2px;
        background-color: #F1F1F1;
        border: none;
        margin: 0 auto;
    }
}

.search-others{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    min-height: 47px;
    background-color: #FCFCFC;
    border: 1px solid #F1F1F1;

    &__input{
        @include light-style;
        opacity: 0.5;
        min-width: 164px;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #F1F1F1;
    }

    &__search{
        opacity: 0.5;
    }
}