.graphs {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: space-around ;
    max-width: 1096px;
    min-width: 320px;
    height: 832px;
    background-color: #EBEBEB;
    padding: 20px;
    
   

    &__graphic{
        width: 704px;
        height: 265px;
        background-color: #FFFFFF;
    }
    
    &__graphic-revenue{
        @include bold-header;
        margin: 25px;
    }

    &__graphic-revenue-stat{
        margin: 10px;   
    }

    &__hour{
        width: 263px;
        height: 265px;
        background-color: #FFFFFF;
    }

    &__hour-revenue{
        @include bold-header;
        text-align: center;
        padding-top: 25px;
    }

    &__hour-revenue-circle{
        margin: 5px 20px 20px 33px;
    }

    &__customers{
        width: 466px;
        height: 507px;
        background-color: bisque;
    }

    &__daily{
        width:500px ;
        height: 244px;
        background-color: bisque;
        margin: 0 auto;
    }
}