nav {
    display: flex;
    background-image: linear-gradient(#FC755A, #FD5272);
}

.site-logo {
    background: url(../../source/img/nav/w.jpeg) no-repeat;
    width: primary-text;
}

.icons--home {
    background: url();
}