.nav {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;

    &__icon {
        @include primary-text;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-bottom: 15px;
        width: 70px;
        height: 70px;
        background: no-repeat center 15px;

        &:hover {
            background-color: green;
        }

        &_logo {
            background: url(../../source/img/nav/w.png) no-repeat;
            margin-bottom: 15px;
        }

        &_home {
            background-image: url(../../source/img/nav/home.png);
        }
        
        &_statistics {
            background-image: url(../../source/img/nav/statistics.png);
        }
        
        &_users {
            background-image: url(../../source/img/nav/user.png);
        }
        
        &_settings {
            background-image: url(../../source/img/nav/settings.png);
        }
        
        &_quires{
            background-image: url(../../source/img/nav/quires.png);
        }
        
        &_power{
            background-image: url(../../source/img/nav/power.png);
            background-position: center;
            margin-top: auto;
        }
    }
}





